.edit-update-button {
    color: white;
    background: none;
    border: 0px;
}
.edit-update-button:hover {
    opacity: 55%;
}
.input-box-edit {
    background-color: gray;
    color: white;
    outline: none;
    padding: 5px 5px;
    border: 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}